body {
	background: #000000;
	color: #ffffff; 
	font-family: "Tahoma", sans-serif;
}

header {}

footer {}

nav {}

figcaption {}

h1 {}

h2 {}

h3 {}

p {}

ol {}

ul {}

figure {}

a {}

a:hover {}
