<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Swap-UR</title>
  </head>
  <body>
    <nav>
      <a href="main.html">Main</a>
      <a href="item.html">Item</a>
      <a href="listing.html">Listing</a>
      <a href="profile.html">Profile</a>
      <a href="message.html">Message</a>
      <a href="confirmation.html">Confirmation</a>
      <a href="login.html">Login</a>
    </nav>

    {% block content %}
    {% endblock %}
  </body>
</html>
