{% extends 'base.html' %}

{% block content %}
  <nav>
    <form method="get" action="/">
      <select name="category">
        <option value="">All Categories</option>
        <option value="decor">Decor</option>
        <option value="bathroom">Bathroom</option>
        <option value="clothing">Clothing</option>
        <option value="furniature">Furniature</option>
        <option value="appliance">Appliance</option>
        <option value="kitchen">Kitchen</option>
        <option value="school-supplies">School Supplies</option>
        <option value="other">Other</option>
      </select>
      <select name="condition">
        <option value="">All Conditions</option>
        <option value="brand_new">Brand New</option>
        <option value="like_new">Like New</option>
        <option value="very_good">Very Good</option>
        <option value="good">Good</option>
        <option value="acceptable">Acceptable</option>
        <option value="damaged">Damaged</option>
      </select>
      <select name="price">
        <option value="">All Prices</option>
        <option value="0-10">$0 - $10</option>
        <option value="10-50">$10 - $50</option>
        <option value="50-100">$50 - $100</option>
        <option value="100+">$100+</option>
      </select>
      <button type="submit">Filter</button>
    </form>
  </nav>
  <h1>Swap-UR</h1>
  <ul>
    {% for item in items %}

    <li>
      <a href="{{ url_for('item', item_id=item.i_id) }}">
        <img src="{{ url_for('static', filename='{{ item.img_1_path }}') }}" alt="{{ item.name }}">
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
        <p>Price: ${{ item.price }}</p>
        <p>Condition: {{ item.condition }}</p>
        <p>Listed on: {{ item.listing_datetime.strftime('%Y-%m-%d') }}</p>
      </a>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
