
{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Swap-UR</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <style>
      .square-container {
        border: 5px solid #ccc; /* set the border style */
        padding: 15px; /* set the padding */
        display: inline-block; /* make the container wrap its contents */
      }
    </style>
    
</head>

<body>
  <div class="square-container">
      <div class="image-container">
        <img src="https://www.shutterstock.com/image-vector/bearded-man-face-male-generic-260nw-2140768413.jpg" alt="Image description">
      </div>
    <div class="card-body">
      <p class="mb-0"><strong class="pr-1">Name: </strong>Abcd</p>
      <p class="mb-0"><strong class="pr-1">UR ID: </strong>netID</p>
      <p class="mb-0"><strong class="pr-1">Email address: </strong>example@example.com</p>
      <p class="mb-0"><strong class="pr-1"> </strong> </p>
      <p class="mb-0"><strong class="pr-1"> </strong> </p>
      <div class="rating-display">
        <i class="fas fa-star filled"></i>
        <i class="fas fa-star filled"></i>
        <i class="fas fa-star filled"></i>
        <i class="fas fa-star filled"></i>
        <i class="fas fa-star"></i>
      </div>
    </div> 
    
    <nav>
      <a href="{{ url_for('main') }}">back</a>
  </nav>
    </div>

   

</body>
</html>
{% endblock %}